<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<?python
from turbogears.i18n.format import format_date
def dateandtime(d):
    return format_date(d, format="full", time_format=" @ %X %Z")
?>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Live Action Mafia</title>
</head>
<body>

    <!--! template functions -->
    <span py:def="code(codestring)" py:content="codestring" class="code" />

    <div class="content-section">
      <!--! Normal content: Stuff that's not in the left or right column. !-->
      <h3>
        <strong>Contact Us</strong>
      </h3>
<p>Have questions? Email mafia-officers@mit.edu and we'll get back to you.</p>
<p>Want to hear about upcoming games? Add yourself to mafia-interest@mit.edu and you'll receive emails before each game.</p>
<p>Technical site issues or suggestions? Ask jamb@mit.edu.</p>
</div>
</body>
</html>
