<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<?python
from turbogears.i18n.format import format_date
def dateandtime(d):
    return format_date(d, format="full", time_format=" @ %X %Z")
?>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Live Action Mafia</title>
</head>
<body>

    <!--! template functions -->
    <span py:def="code(codestring)" py:content="codestring" class="code" />

    <div class="content-section">
      <!--! Normal content: Stuff that's not in the left or right column. !-->
      <h3 id="turbogears">
        <strong>Welcome to Live Action Mafia!</strong>
      </h3>

      <p>Our club plays several games per semester and over IAP/Summer. Add yourself to mafia-interest@mit.edu to hear about upcoming games.</p>
      <p>You can see our soon-to-be-deprecated <a href="http://mafia.mit.edu">forums</a> and read records of past games. Much of gameplay happens online in the forums where players can discuss game, but much of it happens in real life too, so we recommend playing to get a real sense of how it works.</p>
      <p>This game is like Mafia (the party game), but it is played in real time and space. Roughly one "murder" and one "execution" happens in each 24-hour day, and kills are made by a player finding and tapping another player. Real-life alibis are often used to prove innocence of a kill.</p>
      <p>Check out our <a href="/mafia/rules">rules</a> for a brief description, or read the full thing in preparation for a game.</p>
</div>
</body>
</html>
